* {
  padding: 0%;
  margin: 0%;
}

.navbar {
  background-color: #1f2937;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}

.navbar img {
  font-size: 24px;
  color: #f9faf8;
}

.mainSection {
  background-color: #1f2937;
  color: white;
  display: flex;
  /* padding: 20px; */
  height: 450px;
}

.header {
  font-size: 48px;
  color: white;
  font-weight: bold;
  line-height: 35px;
  margin-left: -120px;
  border: solid 5px purple;
}

.left {
  border: 5px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.left h3 {
  font-size: 18px;
  color: lightgray;
  padding-top: 20px;
  border: solid 5px brown;
}

.right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right img {
  border: solid 5px grey;
  height: 70%;
  width: 50%;
  fill: grey;
  text-align: center;
}

.footer {
  margin-top: 40px;
  height: 60px;
  display: flex;
  background-color: #1f2937;
  color: white;
  justify-content: center;
  align-items: center;
}

.SignupButton {
  background-color: #3882f6;
  color: white;
  border-radius: 4.5px;
  height: 20px;
  width: 100px;
  border: none;
}

.heroHeading {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
}
.Hero {
  height: 400px;
  background-color: white;
}

.imageContainer {
  height: 130px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageBox {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border: solid 3px blue;
}
.subText {
  height: 30px;
  font-weight: 100;
  font-size: 11px;
  text-align: center;
  padding-top: 5px;
}

.imageSection {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0px;
  padding: 20px;
  background-color: #e5e7eb;
  height: 350px;
}
.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.person {
  padding-left: 450px;
  font-size: 20px;
  font-weight: bold;
  color: #1f2937;
}
